<div class="animate__animated animate__slideInUp">
  <h2>Por pais</h2>
  <div class="row">
    <div class="col">
      <app-pais-input
       (onEnter)="buscar($event)"
       (onDebounce)="sugerencias($event)"
       [placeholder]="'Buscar por pais'"
      ></app-pais-input>
    </div>
  </div>

  <div
    *ngIf="mostrarSugerencias"
    class="mt-3">
    <div class="list-group">
      <a
        *ngFor="let paisSugerido of paisesSugeridos"
        class="list-group-item list-group-item-action"
        [routerLink]="['/pais', paisSugerido.altSpellings[0]]">
        {{ paisSugerido.name.common }}
      </a>
      <a
        *ngIf="termino.length > 0"
        class="list-group-item list-group-item-action"
        (click)="buscar(termino)"
      >
        Buscar por: "{{ termino }}"
      </a>
    </div>
  </div>

</div>

<hr>
<div
  *ngIf="hayError"
  class="alert alert-danger">
  no se encontro nada con el término {{ termino }}
</div>
<div
  *ngIf="paises.length > 0"
  class="row">
  <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
