<div class="animate__animated animate__slideInUp">
  <h2>Por capital</h2>
  <div class="row">
    <div class="col">
      <app-pais-input
       (onEnter)="buscar($event)"
       [placeholder]="'Buscar por capital'"
      ></app-pais-input>
    </div>
  </div>
</div>

<hr>
<div
  *ngIf="hayError"
  class="alert alert-danger">
  no se encontro nada con el término {{ termino }}
</div>
<div
  *ngIf="paises.length > 0"
  class="row">
  <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
