<div
  *ngIf="!pais; else divPais"
  class="alert alert-info">
  Espere pro favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col">
      <h1>País: <small>{{ pais.name.common }}</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flags.svg" class="img-thumbnail">
    </div>
    <div class="col-8">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población: </strong> {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código numérico: </strong> {{ pais.ccn3 }}
        </li>
      </ul>
    </div>
  </div>

  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary me-1">{{ pais.translations.ara.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.ces.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.cym.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.deu.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.est.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.fin.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.fra.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.hrv.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.hun.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.ita.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.jpn.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.kor.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.nld.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.per.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.pol.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.por.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.rus.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.slk.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.spa.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.swe.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.urd.official }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations.zho.official }}</span>
    </div>
  </div>

  <!-- <pre class="mt-3 border">
    {{ pais | json }}
  </pre> -->
</ng-template>
